{% extends 'base.html' %}

{% block head %}
<title>RMP</title>
{% endblock %}

{% block body %}
    <div id="message">
      <h2 align="center">Rate My Portfolio</h2>
        <br>
      <h1 align="center">Alan Almeida</h1>
      <h3><a href="https://github.com/iwtga">Check Github Profile</a></h3>
      <p><a href="https://www.linkedin.com/in/alan-almeida-43281b1a0/">Check LinkedIn Profile</a></p>
    </div>
    <div class="header">
		
		<!-- RATING SCALE INPUT -->
		<div class="rating">
			<span class="rating-star-1">
				<a href="#rate-1">&#9733;</a>
				<span class="rating-star-2">
					<a href="#rate-2">&#9733;</a>
					<span class="rating-star-3">
						<a href="#rate-3">&#9733;</a>
						<span class="rating-star-4">
							<a href="#rate-4">&#9733;</a>
							<span class="rating-star-5">
								<a href="#rate-5">&#9733;</a>
							</span>
						</span>
					</span>
				</span>
			</span>
		</div>
		<!-- END OF SCALE INPUT -->
		<br />
		<br />
        <br />
        <br />
        <br />
	</div>
{% endblock %}